/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CORPO DA PÁGINA */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #02101f;
  color: #ffffff;
  line-height: 1.6;
  padding: 20px;
}

/* SEÇÕES */
section {
  background-color: #190b55;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

/* TÍTULOS PRINCIPAIS */
h2 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #ffffff;
  border-bottom: 2px solid #000e33;
  padding-bottom: 8px;
}

/* TÍTULOS DAS QUESTÕES */
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #ffffff;
}

/* PARÁGRAFOS */
p {
  margin-bottom: 12px;
}

/* LISTAS */
ul {
  margin-left: 20px;
  margin-bottom: 15px;
}

li {
  margin-bottom: 6px;
}

/* ÁREA DE RESPOSTA */
.resposta {
  height: 80px;
  border: 2px dashed #94a3b8;
  border-radius: 8px;
  margin: 10px 0 20px 0;
  background-color: #001a49;
}

/* DESTACAR LETRAS DAS ALTERNATIVAS */
strong {
  color: #ffc400;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  section {
    padding: 15px;
  }
}
